html.grayscale-filter-active {
    filter: grayscale(var(--grayscale-intensity, 1)) !important;
    -webkit-filter: grayscale(var(--grayscale-intensity, 1)) !important;
    --grayscale-filter-applied: 1 !important;
}

/* Ensure filter applies to the entire page */
html.grayscale-filter-active body {
    background-color: inherit;
}

/* Fix for SPA and dynamically loaded content */
html.grayscale-filter-active * {
    transition-property: none !important;
}

/* Fix for iframes */
html.grayscale-filter-active iframe {
    filter: none !important; /* Prevent double filtering */
    -webkit-filter: none !important;
}

/* Fix for sites with backdrop-filter */
html.grayscale-filter-active *[style*='backdrop-filter'] {
    backdrop-filter: grayscale(var(--grayscale-intensity, 1)) !important;
    -webkit-backdrop-filter: grayscale(var(--grayscale-intensity, 1)) !important;
}

.grayscale-exclude {
    filter: none !important;
    -webkit-filter: none !important;
}
